@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0ea5e9; /* Sky Blue */
  --color-secondary: #64748b; /* Slate Gray */
  --color-accent: #38bdf8; /* Light Sky */
  --color-neutral: #0f172a; /* Dark Gray */
  --color-base-100: #ffffff; /* Cards */
  --color-base-200: #f8fafc; /* Background */
  --color-base-300: #e2e8f0; /* Borders */
  --color-info: #0ea5e9;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
html {
  font-family: "Inter", sans-serif;
}
.section-title{
  @apply text-2xl font-bold text-center my-10 
}
